* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #424549;
    margin-top: 40px;
    overflow: hidden;
}


/* ----------------- Header ----------------- */
.header {
    background-color: #333;
    color: #fff;
    text-align: right;
    width: 100%;
    padding: 0 20px 0 20px;
    position: fixed;
    top: 0;
    gap: 10px;
    z-index: 999;
    display: flex; 
    align-items: center;
    justify-content: flex-start;
}
.header > div{
    height: 83px;
    /* border: 1px solid red; */
}
.header_Left,
.header_Right{
    width: 20%;
}
.header_Left{
    display: flex;
    align-items: center;
}
.header_Center{
    width: 60%;
}
.header_Right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header_Right > div {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent; 
    cursor: pointer; 
}

.messenger_icon i{
    background-color: white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center; 
    cursor: pointer; 
}

.header_Right > div:active {
    transform: scale(0.887); 
}

.header_Right > div i {
    font-size: 23px;
    color: #000;
}

.search_bar {
    margin-right: 14vh; 
}

.search_bar input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: transparent;
    color: white;
}

.search_bar button {
    background-color: #007bff; 
    border: none;
    cursor: pointer;
    height: 30px;
    padding: 8px 7px 0 7px;
}

.search_bar button:hover {
    background-color: #0056b3;
}


.header_left{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2vh;
    margin-top: 1vh;
    margin-left: 5px;
    height: 10vh;
    width: 52.5vh;
    border-radius: 10px;
}

.logo img{
    display: flex;
    align-items: center;
    padding-left: 2vh;
    /* border: 1px solid white; */
    height: 10vh;
    width: 100%;
}
/* ----------------- Main Container ----------------- */
.main-container {
    height: 100vh;
    width: 100%;
    display: flex;
    position: relative;
    padding-top: 15px;
}

/* ----------------- Left & Right Container ----------------- */
.workspace-column,
.posted-column,
.friends-column {
    overflow: hidden; 
    flex-shrink: 0;
}

.posted-column {
    display: flex;
    margin-left: 55vh;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 47.7%;
    height: 88.3vh;
    overflow-y: auto;
    /* border: 1px solid red; */
}

.post-box {
    display: grid;
    align-content: flex-start;
    gap: 10px;
    text-align: center;
    height: 70vh;
    width: 90%;
    margin-top: 2.5vh;
    border-radius: 10px;
}

.posted {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-container {
    margin-bottom: 20px;
}

.post {
    background-color: #333;
    border-radius: 10px;
    padding: 10px;
    width: 600px; 
}

label {
    color: white;
}

.post-img {
    width: 100%;
}

.post-header {
    width: 50vh;
    gap: 10px;
    padding-right: 8vh;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.post-user-profile img{
    height: 60px;
    width: 60px;
    /* border: 1px solid red; */
    border-radius: 50%;
}

.post-user-name p, label{
    display: flex;
    width: 30vh;
    margin-top: 5px;
    /* border: 1px solid red; */
    color: white;
}
/* 
.post-user-name {
    border: 1px solid red;
} */

.caption {
    margin-bottom: 5px;
    /* border: 1px solid red; */
    margin-bottom: 10px;
}

.caption label{
    width: 100%;
}

/* ------------ COMMENT ------------ */
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.popup input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.popup button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.popup button:hover {
    background-color: #0056b3;
}

.comment {
    height: 10vh;
    border: 1px solid #424549;
    border-radius: 5px; 
    padding-top: 0.5vh;
    /* border: 1px solid red; */
}

.comment input {
    padding-left: 5px;
    height: 5vh;
    width: 70%;
    border-radius: 10px;
    position: relative;
    bottom: 6vh;
    margin-top: 50px;
    /* border: 1px solid red; */
}

.comment-profile img{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    position: relative;
    right: 33.5vh;
    top: 1vh;
}

.comment_popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;  
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    border: 1px solid red;
    height: 50vh;
    width: 30%;
}

.comment-send {
    position: relative;
    bottom: 10.5vh;
    left: 70vh;
    color: white;
}

.comment-send button {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    outline: none; 
    width: 5vh;
    height: 5vh;
}

.comment-send i {
    font-size: 25px;
}

.comment-popup {
    display: none;
    position: absolute;
    top: 10vh;
    background-color: #3a3b3c;
    padding: 10px;
    height: 60vh;
    width: 40%;
    border-radius: 5px;
    z-index: 1000;
}

.comment-popup.active {
    display: block;
}

.comment-display {
    margin-top: 2vh;
    /* border: 1px solid red; */
    height: 19vh;
}

.comment-display img{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-top: 1.5vh;
    position: relative;
    right: 35vh;
}

.comment-text {
    background-color: #333;
    border-radius: 5px;
    width: 84%;
    height: 12vh;
    position: relative;
    left: 12vh;
    bottom: 8.5vh;
}

.comment-text p {
    display: flex;
    position: relative;
    top: 10px;
    left: 10px;
    width: 65.6vh;
}

.comment-edit {
    display: flex;
}

.comment-edit button{
    display: flex;
    align-content: center;
    justify-content: center;
    width: 20%;
    height: 10%;
    margin-bottom: 2px;
}

.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 999;
}

.popup-overlay.active {
    display: block;
}

.actions-container {
    display: flex;
    color: white;
}

.actions-container > div {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #424549;
    border-bottom: 1px solid #424549;
    height: 40px;
    margin: 1vh 0 2vh 0 ;
    transition: background-color 0.3s ease; 
    cursor: pointer;
}

.actions-container > div:hover {
    background-color: #424549; 
}

.like-icon, .comment-icon, .share-icon {
    font-size: 22px;
    margin-top: 2px;
    margin-right: 5px;
}

/* ------------ CAPTION ------------ */

.btn-cta-post button {
    margin-right: 10px; 
}

.btn-cta-post{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    width: 15vh;
    position: relative;
    left: 60vh;
    bottom: 7.2vh;
}

.large-input {
    font-size: 15px; 
    padding: 10px 10px; 
    width: 100%;
    height: 30px;
    box-sizing: border-box; 
    border: 1px solid #ccc; 
    border-radius: 2px; 
}
.btn-cta-save{
    margin-top: 5px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
    font-size: 20px;
    color: white;
    font-size: 25px;
}

.btn-cta-post i {
    cursor: pointer;
    font-size: 3.2vh;
}


.posted-column::-webkit-scrollbar {
    width: 12px;
  }
  
  .posted-column::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
  }
  
  .posted-column::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
  }
  
  .posted-column::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.6);
  }

.workspace-column,
.friends-column {
    background-color: #36393e;
    position: fixed;
    top: 40px;
    height: calc(100vh - 40px);
}

.workspace-column {
    margin-top: 5.7vh;
    left: 0;
    width: 55vh;
    z-index: 1;
}

.friends-column {
    margin-top: 5.7vh;
    right: 0;
    width: 55vh;
}

h1 {
    margin-top: 2vh;
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}

/* ----------------- Workspace Column ----------------- */
.posting{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2vh;
    margin-top: 1vh;
    margin-left: 5px;
    /* border: 1px solid white; */
    height: 10vh;
    width: 52.5vh;
    border-radius: 10px;
}

.posting-add{
    display: flex;
    align-items: center;
    padding-left: 2vh;
    /* border: 1px solid white; */
    height: 10vh;
    width: 100%;
    margin-top: 3vh;
}

.posting-add img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.post-fnt{
    /* border: 1px solid white; */
    height: 7vh;
    width: 75%;
    margin-left: 2vh;
}

button {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 1.8vh;
    width: 100%;
    height: 7vh;
    border-radius: 5px;
    background-color: #7289da;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.channel {
    margin-top: 3vh;
    border-top: 1px solid white;
    height: 70%;
}

.text-channel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4vh;
    position: relative; 
}

.left, .right {
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #b3b2b2;
    font-weight: bold;
}

.left {
    width: 5vh;
    font-size: 2vh;
}

.right {
    margin-right: 2vh;
    width: 5vh;
    font-size: 4vh;
}

.middle {
    display: flex;
    align-items: center;
    height: 5vh;
    width: 60vh;
    color: #b3b2b2;
    font-weight: bold;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 5vh;
    left: 2vh;
    z-index: 1;
    width: 90%;
}

.dropdown-content a {
    padding: 10px 16px;
    display: block;
    text-decoration: none;
    color: #b3b2b2;
    font-size: 2.5vh;
    font-weight: bold;
}

.dropdown-content a:hover {
    background-color: #424549; 
    border-radius: 5px;
}

.bottom-channel{
    /* border: 1px solid white; */
    background-color: #333;
    color: #fff;
    position: absolute;
    bottom: 6vh;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    padding-left: 2vh;
}
.profile > div{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c3bebe;
    text-decoration: none;
    object-fit: cover;
}

/* .profile{
    border: 1px solid white;
} */

.user-name{
    /* border: 1px solid white; */
    margin-left: 2vh;
    height: 5vh;
    width: 25vh;
    display: flex;
    align-items: center;
}

.functions{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    margin-left: 15px;
}
.functions > div{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c3bebe;
    text-decoration: none;
    object-fit: cover;
}
.functions > div:active{
    scale: .887;
}
.functions > div i{
    font-size: 18px;
    color: #000;
}

/* ----------- Notification -----------  */
.notificationpopup {
    display: none;
    position: fixed;
    top: 68%;
    left: 27.4vh;
    transform: translate(-50%, -50%);
    background-color: #424549;
    /* border: 1px solid #cccccc; */
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 25%;
    height: 40vh;
    z-index: 9999;
}

.notificationpopup p {
    color: white;
}

.noti-bell {
    position: relative;
    cursor: pointer;
}

.notifs {
    display: flex;
    margin-bottom: 15px;
    /* border: 1px solid red; */
}

.noti-profile img{
    border-radius: 100%;
    height: 50px;
    width: 50px;
}

.noti-text {
    font-size: 16px;
    margin-top: 15px;
    margin-left: 10px;
}









.profile_container img{
    height: 100%;
    width: 100%;
    border: 2px solid #fff;
    border-radius: 50%;
    cursor: pointer;
}
.caret{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #e4e6eb;
}
.caret i{
    font-size: 12px !important;
    color: #000 !important;
}

.profile_container{
    position: relative;
}

.userMenu_Popup{
    cursor: pointer;
    display: none;
    position: absolute;
    top: -40vh;
    right: 25px;
    width: 20vw;
    padding: 10px;
    border-radius: 6px;
    background-color: #424549;
    z-index: 1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
}
.uMP{
    width: 100%;
    gap: 10px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.uMP a{
    height: 55px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    padding: 7px 10px;
    gap: 13px;
    border-radius: 8px;
}
.uMP a:hover{
    background-color: #333;
  }
.upmcU{
    height: 55px;
    width: 100%;
    padding: 7px 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 8px;
    gap: 13px;
  }
  .upmcU:hover{
    background-color: #333;
  }
  .upmcU_right{
    position: relative;
    text-align: center;
    vertical-align: middle;
    height: 45px;
    width:45px;
    border-radius: 50%;
    background-color: #e4e6eb;
  }
  .upmcU_right i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 22px;
    color: #121212;
  }
  .upmcU_left{
    height: 100%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: .9375rem;
    font-weight: 500;
    color: white;
    text-decoration: none;
  }

/* Styles for the popup */
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #3a3b3c;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    padding: 20px;
    width: 500px;
    z-index: 9999;
}

.post-profile img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

.post-username{
    height: 30px;
    font-size: 2.5vh;
    width: 70%;
    color: white;
    border-bottom: 1px solid white;
    position: relative;
    top: -8vh;
    left: 11vh;

}

.popup-textarea::placeholder {
    color: white; 
}


.upload-label {
    display: flex;
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 30%;
}

.upload-label span {
    vertical-align: middle;
}

.upload-label:hover {
    background-color: #2980b9;
}

.upload-img-container {
    position: relative;
    height: 100px; 
    overflow: auto; 
    margin-top: 3vh;     
}
#imagePreview {
    max-width: 100%; 
}

.upload-label {
    margin-top: 10vh;
    display: block;
    position: absolute;
    top: 0;
}
.close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #aaa;
    font-size: 20px;
}

.close-icon:hover {
    color: white;
}

.popup-content {
    padding: 20px;
}

.popup-textarea {
    margin-bottom: 30px;
    width: 100%;
    height: 50px;
    resize: none;
    border: none;
    border-radius: 5px;
    outline: none;
    position: relative;
    bottom: 2vh;
    font-size: 20px;
}

textarea{
    background-color: #3a3b3c;
    color: white;
}

.popup-btns {
    margin-top: 20px;
    text-align: right;
}

.popup-btn {
    padding: 10px 20px;
    border: none;
    background-color: #4267B2;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.popup-btn:hover {
    background-color: #405D9C;
}

/* Styles for the overlay */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the alpha value to change the opacity */
    z-index: 1;
}

/* ----------------- Friends List Column ----------------- */

.fl-route {
    text-decoration: none;
}
.friends-header {
    display: flex;
    gap: 10px;
    margin-top: 2vh;
    margin-left: 2vh;
}
.add-friends {
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7vh;
    color: white;
    margin-top: 1.3vh;
}

.friends-title {
    /* border: 1px solid black; */
    text-align: center;
}

/* Friend Display */
.friend-profile {
    /* border: 1px solid red; */
    width: 90%;
    position: relative;
    top: 5vh;
    left: 2vh;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: white;
    overflow: hidden;
}

.friend-profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%; /* Make the image round */
    margin-right: 10px;
}

.friend-name {
    font-size: 16px;
    font-weight: bold;
}

.friend-count-container{
    position: relative;
    top: 1vh;
    left: 2vh;
    font-size: 20px;
    color: white;
}

.display-friends{
    margin-top: 0.8vh;
    /* border: 1px solid red; */
    overflow-y: auto;
    height: 69.3vh;
}

.display-friends::-webkit-scrollbar {
    width: 12px;
  }
  
  .display-friends::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
  }
  
  .display-friends::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
  }
  
  .display-friends::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.6);
  }
.add {
    display: flex;
    align-items: center;
    padding-left: 2vh;
    margin-top: 1vh;
    margin-left: 10px;
    /* border: 1px solid white; */
    height: 10vh;
    width: 52.5vh;
}

.add img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.name p{
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-left: 2vh;
}

.online {
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
    margin-left: 3.8vh;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.online-count {
    margin-left: 1vh;
}

/* ----------------- change profile ----------------- */
/* Styles for the Change Profile Popup */
.changeprofilepopup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
h3{
    position: relative;
    bottom: 10px;
}

.change-profile img{
    height: 20vh;
    width: 20vh;
    border-radius: 50%;
    position: relative;
    bottom: -2vh;
    left: 4.5vh;
}

.change {
    display: flex;
    flex-direction: row;
    margin-bottom: 2vh;
    background-color: #555;
    border-radius: 5px;
}

.change-left {
    height: 30vh;
    width: 30vh;
    flex-shrink: 0;
    background-color: #424549;
    border-radius: 5px;
    border-right: 7px solid #36393e;
    border-radius: 7px;
}

.change-right {
    height: 30vh;
    width: 50vh; 
    flex-shrink: 0;
}


.upload-img1{
    position: relative;
    top: 1.5vh;
    left: 5vh;
}

.upload-label1 {
    display: flex;
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 70%;
}

.upload-label1 span {
    vertical-align: middle;
}

.upload-label1:hover {
    background-color: #2980b9;
}

.popup-content {
    position: relative;
}

.popup-content h3 {
    margin-top: 0;
}

.popup-content .change {
    display: flex;
    align-items: center;
}

.popup-content .upload-img1 {
    position: relative;
    overflow: hidden;
}

.popup-content .upload-img1 input[type="file"] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.profile-info{
    color: white;
    /* border: 1px solid red; */
    width: 45vh;
    margin-left: 2vh;
    margin-top: 2vh;
}

.popup-content .profile-info {
    margin-top: 20px;
}

.popup-content .profile-info label {
    display: block;
    margin-bottom: 5px;
}

.profile-info input[type="text"] {
    width: 65%; /* Adjust width as needed */
    height: 40px; /* Adjust height as needed */
    padding: 8px;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}


.popup-content .btn-updateprofile {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.popup-content .btn-updateprofile:hover {
    background-color: #0056b3;
}

.close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}

