* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #424549;
    margin-top: 40px; /* Adjust for the fixed header */
}

.header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: right;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999; /* Ensure the header appears above other content */
}

.logout-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logout-btn:hover {
    background-color: #0056b3;
}

.main-container {
    height: 100vh;
    width: 100%;
    display: flex;
    position: relative; /* Set main-container as a positioning context */
    padding-top: 40px; /* Adjust for the fixed header */
}

.workspace-column,
.posted-column,
.friends-column {
    border: 1px solid whitesmoke;
    overflow: auto; 
    flex-shrink: 0; /* Prevent columns from shrinking */
}

.posted-column {
    flex-grow: 1; /* Allow posted column to grow and fill remaining space */
}

.workspace-column,
.friends-column {
    position: fixed; /* Fix position of workspace and friends columns */
    top: 40px; /* Adjust for the fixed header */
    height: calc(100vh - 40px); /* Set height to fill remaining viewport */
}

.workspace-column {
    left: 0; /* Align workspace column to the left */
    width: 290px; /* Set width for workspace column */
}

.friends-column {
    right: 0; /* Align friends column to the right */
    width: 290px; /* Set width for friends column */
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}

.posted-column {
    flex: 2; 
}

.friends-list{
    margin-top: 8vh;
    margin-left: 10px;
    border: 1px solid white;
    height: 84vh;
    width: 42vh;
}
