* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #424549;
    /* overflow: hidden; */
}


/* ----------------- Header ----------------- */
.header {
    background-color: #333;
    color: #fff;
    text-align: right;
    width: 100%;
    padding: 0 20px 0 20px;
    position: fixed;
    top: 0;
    gap: 10px;
    z-index: 999;
    display: flex; 
    align-items: center;
    justify-content: flex-start;
}
.header > div{
    height: 83px;
    /* border: 1px solid red; */
}
.header_Left,
.header_Right{
    width: 20%;
}
.header_Left{
    display: flex;
    align-items: center;
}
.header_Center{
    width: 60%;
}
.header_Right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}
.header_Right > div{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    text-decoration: none;
    object-fit: cover;
}
.header_Right > div:active{
    scale: .887;
}
.header_Right > div i{
    font-size: 23px;
    color: #000;
}
.profile_container{
    position: relative;
}
.profile_container img{
    height: 100%;
    width: 100%;
    border: 2px solid #fff;
    border-radius: 50%;
}
.caret{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #e4e6eb;
}
.caret i{
    font-size: 12px !important;
    color: #000 !important;
}

.userMenu_Popup{
    display: none;
    position: absolute;
    top: 70px;
    right: 25px;
    width: 20vw;
    padding: 10px;
    border-radius: 6px;
    background-color: #ffffff;
    z-index: 999;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
}
.uMP{
    width: 100%;
    gap: 10px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.uMP a{
    height: 55px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    padding: 7px 10px;
    gap: 13px;
    border-radius: 8px;
}
.uMP a:hover{
    background-color: #f1f1f1;
  }
.upmcU{
    height: 55px;
    width: 100%;
    padding: 7px 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 8px;
    gap: 13px;
  }
  .upmcU:hover{
    background-color: #f1f1f1;
  }
  .upmcU_right{
    position: relative;
    text-align: center;
    vertical-align: middle;
    height: 45px;
    width:45px;
    border-radius: 50%;
    background-color: #e4e6eb;
  }
  .upmcU_right i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 22px;
    color: #121212;
  }
  .upmcU_left{
    height: 100%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: .9375rem;
    font-weight: 500;
    color: #121212;
    text-decoration: none;
  }

/* ----------------- Main Container ----------------- */

.main-container {
    display: flex;
    margin-top: 13vh;
}

.left-container {
    border: 1px solid black;
    height: 87vh;
    width: 30%;
}

.fl-route {
    text-decoration: none;
}
.friends-header {
    display: flex;
    gap: 10px;
    margin-top: 2vh;
    margin-left: 2vh;
}
.back-btn {
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vh;
    color: white;
    margin-top: 2vh;
}

.right-container {
    border: 1px solid black;
    height: 87vh;
    width: 70%;
}

h1 {
    margin-top: 2vh;
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}