* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #282b30;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.heading {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
}

.icon-addon {
    position: absolute;
    left: 15px; /* Adjust the spacing here */
    top: 50%;
    transform: translateY(-50%);
    color: black;
    z-index: 1; /* Ensure the icon appears above the input */
}


.select-field {
    width: 100%; /* Adjusted width to accommodate the icon */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24"><path d="M7 10l5 5 5-5z"></path></svg>');
    background-repeat: no-repeat;
    background-position: calc(100% - 20px) center; /* Adjusted position */
    padding-left: 40px; /* Increased padding to avoid overlap */
}

.field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    padding-left: 40px;
}


.error-msg {
    display: block;
    margin-top: 5px;
}

.progress-bar-container {
    margin-top: 20px;
}

.progress-bar {
    width: 100%;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
    font-size: 14px;
}

.btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

.btn:hover {
    background-color: #0056b3;
}

.text {
    text-align: center;
    margin-top: 10px;
}

.text a {
    color: #007bff;
    text-decoration: none;
}

.text a:hover {
    text-decoration: underline;
}
